@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: roboto;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    /*
     *  Scrollbar Firefox
     *  Nota: son propiedades experimentales
     */
    scrollbar-color: #d8ff00 #303030;
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #303030;
}

::-webkit-scrollbar-thumb {
    background-color: #d8ff00;
    border-radius: 5px;
    border: 3px solid #303030;
}

::-webkit-scrollbar-button {
    height: 5px;
}


.color-ed {
    color: #d8ff00 !important;
}

.color-ff {
    color: #edeced !important;
}

.color-9b {
    color: #9b9b9b !important;
}

.color-15 {
    color: #151515 !important;
}

.title1 {
    font-family: rubik;
    font-weight: 300;
    font-size: 2.8rem; 
}

.title2 {
    font-family: rubik;
    font-weight: 300;
    font-size: 1.4rem;
}

.title3 {
    font-family: rubik;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.bg-15 {
    background-color: #151515;
    color: #edeced;
}

.bg-22 {
    background-color: #222222;
    color: #edeced;
}

@media screen and (min-width:1919px) {
    .bg-15-bigger {
        background-color: #151515 !important;
        color: #edeced;
    }
    
    .bg-22-bigger {
        background-color: #222222 !important;
        color: #edeced;
    }
}

.bg-30 {
    background-color: #303030;
    color: #d8ff00;
}

.bg-35 {
    background-color: #353535;
    color: #d8ff00;
}

.bg-ed {
    background-color: #d8ff00;
    color: #151515;
}

.bg-ff {
    background-color: #edeced;
    color: #151515;
}

.ma-top-1 {
    margin-top: 1.7rem;
}

.link:hover {
    color: #d8ff00 !important;
}

.link-2 {
    color: #d8ff00 !important;
}

.link-2:hover {
    color: #9b9b9b !important;
}