:root {
    --color-1: #d8ff00ff;
    --color-2: #151515ff;
    --color-3: #222222ff;
    --color-4: #303030ff;
    --color-5: #353535ff;
    --color-6: #9b9b9bff;
    --color-7: #edecedff;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}


* {
    font-family: roboto;
    /* Firefox Scrollbar */
    scrollbar-color: var(--color-1) var(--color-4);
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-4);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 5px;
    border: 3px solid var(--color-4);
}

::-webkit-scrollbar-button {
    height: 5px;
}

.title-1 {
    font-family: rubik;
    font-weight: 300;
    font-size: 2.8rem;
}

.title-2 {
    font-family: rubik;
    font-weight: 300;
    font-size: 1.4rem;
}

.title-3 {
    font-family: rubik;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.bg-color-1 {
    background-color: var(--color-1);
    color: var(--color-2);
}

.bg-color-2 {
    background-color: var(--color-2);
    color: var(--color-7);
}

@media screen and (min-width: 1400px) {
    .bg-color-2-lg {
        background-color: var(--color-2) !important;
        color: var(--color-7);
    }
}

.bg-color-3 {
    background-color: var(--color-3);
    color: var(--color-7);
}

@media screen and (min-width: 1400px) {
    .bg-color-3-lg {
        background-color: var(--color-3) !important;
        color: var(--color-7);
    }
}

.bg-color-4 {
    background-color: var(--color-4);
    color: var(--color-1);
}

.bg-color-5 {
    background-color: var(--color-5);
    color: var(--color-1);
}

.bg-color-6 {
    background-color: var(--color-6);
    color: var(--color-2);
}

.bg-color-7 {
    background-color: var(--color-7);
    color: var(--color-2);
}

.text-color-1 {
    color: var(--color-1);
}

.text-color-2 {
    color: var(--color-2);
}

.text-color-3 {
    color: var(--color-3);
}

.text-color-4 {
    color: var(--color-4);
}

.text-color-5 {
    color: var(--color-5);
}

.text-color-6 {
    color: var(--color-6);
}

.text-color-7 {
    color: var(--color-7);
}


.border-color-1 {
    border-color: var(--color-1);
}

.border-color-2 {
    border-color: var(--color-2);
}

.border-color-3 {
    border-color: var(--color-3);
}

.border-color-4 {
    border-color: var(--color-4);
}

.border-color-5 {
    border-color: var(--color-5);
}

.border-color-6 {
    border-color: var(--color-6);
}

.border-color-7 {
    border-color: var(--color-7);
}


.link:hover {
    color: var(--color-1) !important;
}

.link-2:hover {
    color: var(--color-6) !important;
}