section {
    min-height: calc(var(--vh));
    max-height: fit-content;
}

.logo {
    height: calc(var(--vh)*.25);
}

.cartel {
    max-height: calc(var(--vh)*.7);
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.rrss-item {
    height: 3.8rem;
    width: 3.8rem;
    border: 2px solid #00000000;
    border-radius: 5rem;
}

.rrss-item:hover {
    border-color: var(--color-1);
}

.list-group-item:hover .text-color-7 {
    color: var(--color-1);
}

.disabled.list-group-item {
    background-color: var(--color-4);
}

.disabled.list-group-item * {
    color: var(--color-6) !important;
}

.disabled.list-group-item .badge {
    background: var(--color-3) !important;
}

footer {
    position: relative;
    width: 100%;
    min-height: 60px;
    max-height: fit-content;
    font-size: .8rem;
    padding: 10px;
}

/* ---------------------------------------------------------------------- */

.cards-partners {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

@media screen and (min-width: 768px){
    .cards-partners {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            flex-wrap: wrap;
    }
}

.card-partner {
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .card-partner {
        width: 200px;
        height: 150px;
    }
}

.card-partner img {
    max-width: 100%;
    border-radius: 10px;
}

#map-marker {
    display: none;
}

@media screen and (min-width: 768px){
    #map-marker {
        display: block;
    }
}

.map {
    border-radius: 10px;
    height: 500px;
}

.map-buttons {
    width: 100%;
    flex-wrap: wrap;
}

.map-button {
    width: 100%;
    font-size: 1.2rem;
    color: var(--color-1);
    padding: 1rem;
    border: 2px solid var(--color-1);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .map-button {
        width: 130px;
        min-width: fit-content;
    }

    .map-button div {
        justify-content: center;
    }
}

.map-button:hover {
    border-color: var(--color-2);
    background: var(--color-1);
    color: var(--color-2);
}

.map-icon {
    height: 1.5rem;
    font-size: 1.5rem !important;
}

#waze {
    display: none;
}

#waze-2 {
    display: block;
}

.map-button:hover #waze {
    display: block;
}

.map-button:hover #waze-2 {
    display: none;
}