section {
    min-height: calc(var(--vh));
    max-height: fit-content;
}

.logo {
    height: calc(var(--vh)*.25);
}

.cartel {
    max-height: calc(var(--vh)*.7);
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.rrss-item {
    height: 3.8rem;
    width: 3.8rem;
    border: 2px solid #00000000;
    border-radius: 5rem;
}

.rrss-item:hover {
    border-color: var(--color-1);
}

.list-group-item:hover .text-color-7 {
    color: var(--color-1);
}

.disabled.list-group-item {
    background-color: var(--color-4);
}

.disabled.list-group-item * {
    color: var(--color-6) !important;
}

.disabled.list-group-item .badge {
    background: var(--color-3) !important;
}

footer {
    position: relative;
    width: 100%;
    min-height: 60px;
    max-height: fit-content;
    font-size: .8rem;
    padding: 10px;
    text-align: center;
}

/* ---------------------------------------------------------------------- */

.cards-partners {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

@media screen and (min-width: 768px){
    .cards-partners {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            flex-wrap: wrap;
    }
}

.card-partner {
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .card-partner {
        width: 200px;
        height: 150px;
    }
}

.card-partner img {
    max-width: 100%;
    border-radius: 10px;
}

#map-marker {
    display: none;
}

@media screen and (min-width: 768px){
    #map-marker {
        display: block;
    }
}


.map-button:hover {
    background-color: var(--color-1);
    color: var(--color-2);
    border-color: var(--color-2);
}