.ticket-slider {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-height: 550px;
  max-height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.ticket-slides {
  min-height: 500px;
  max-height: fit-content;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.ticket-slide {
  padding: 10%;
  flex-shrink: 0;
  width: 100%;
  background: #353535;
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.ticket-slide:nth-of-type(even) {
  background-color: #404040;
}

.ticket-title1 {
  font-size: 4rem;
  font-family: rubik;
  font-weight: 350;
}

.ticket-title2 {
  font-size: 2.2rem;
  font-family: rubik;
  font-weight: 300;
}

.ticket-check-list__icon {
  width: 30px;
}

.ticket-slide .fa-check {
  color: rgb(5, 163, 5) !important;
}

.ticket-slide .fa-close {
  color: rgb(217, 7, 7);
}

.ticket-button {
  margin-top: 20px;
  width: 150px;
  font-family: rubik !important;
  font-weight: 450;
  font-size: 1.2rem;
  color: #d8ff00;
  padding: 1rem;
  border: 2px solid #d8ff00;
  border-radius: 10px;
}

.ticket-button:hover {
  border-color: #373737;
  background: #d8ff00;
  color: #373737;
}

.ticket-slide:nth-of-type(even) .ticket-button:hover {
  border-color: #404040;
  color: #404040;
}

.ticket-slider-nav {
  width: 100%;
  height: 50px;
  text-align: center;
  background: #303030;
  border-top: 2px solid #505050;
}

.ticket-slider-navlink {
  border-radius: 20px;
  border: 2px solid #d8ff00;
  color: #d8ff00;
}

.ticket-slider-navlink div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}

.ticket-slider-navlink:hover {
  border-color: #303030;
  background: #d8ff00;
  color: #303030;
}